/* carrusel de marcas */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Nunito:wght@700&display=swap');

*{
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: #071014;
        background-image: -webkit-linear-gradient(160deg, #071014 0%, #0db8de 100%);
        background-image: -moz-linear-gradient(160deg, #071014 0%, #0db8de 100%);
        background-image: -o-linear-gradient(160deg, #071014 0%, #0db8de 100%);
        background-image: linear-gradient(160deg, #071014 0%, #0db8de 100%);  
}

@keyframes slide {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.logos{
    overflow: hidden;
    padding: 60px 0;
    background-color: white;
    white-space: nowrap;
    position: relative;
}

.logos:before
.logos:after{
    position: absolute;
    top: 0;
    content: "";
    z-index: 2;
    width: 250px;
    height: 100%;
} 

.logos:before{
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after{
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide{
    animation-play-state: paused;
}

.logos-slide{
    display: inline-block;
    animation: 25s slide infinite linear;
}

.logos-slide img{
    height: 50px;
    margin: 0 40px;
}

/* Sobre nosotros */

section {
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: darkslateblue;
}

p {
    color: black;
}

.conocenos{
    margin-left: 25%;
}



/* preguntas frecuentes */
h1 {
    color: darkslateblue;
}
strong{
    color: darkslateblue;
}
.faq-container {
    margin: 0 auto;
}

.question {
    margin-bottom: 10px;
}

.answer {
    margin-bottom: 20px;
}


/* pie de pagina */
a{
    color: white;
}
.pFooter{
    color: white;
}
.colorFooter{
    background-color: lightslategray;
}

/* carrusel con nuestras fotos */
.swiper{
    width: 100%;
}

.swiper-wrapper{
    width: 100%;
    height: 35em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 20em;
    height: 90%;
    background-color: white;
    border-radius: 2em;
    box-shadow: 0 0 2em rgba(0, 0, 0, .2);
    padding: 2em 1em;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.card_img{
    width: 10em;
    height: 10em;
    border-radius: 50%;
    border: 5px solid darkslateblue;
    padding: 3px;
    margin-bottom: 2em;
}

.card_img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.card_contenido{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card_nombre{
    font-size: 1.5em;
    font-weight: 500;
    color: darkslateblue;
    position: relative;
}

.card_boton{
    background-color: darkslateblue;
    color: white;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    padding: .5em;
    border-radius: .5em;
    margin-top: .5em;
    cursor: pointer;
}