@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Londrina+Outline&family=Nunito:wght@700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Nunito',sans-serif;
}
   
   /* Agregamos el fondo coloreado y ordenamos todo */

   body{
    height: auto !important;
    margin: 0;
    background-color: #071014;
        background-image: -webkit-linear-gradient(160deg, #071014 0%, #0db8de 100%);
        background-image: -moz-linear-gradient(160deg, #071014 0%, #0db8de 100%);
        background-image: -o-linear-gradient(160deg, #071014 0%, #0db8de 100%);
        background-image: linear-gradient(160deg, #071014 0%, #0db8de 100%);
   }
   .loginBody{
       margin:0;
       padding:0;
       font-family: sans-serif; 
   }
   
   /* Agregamos el fondo negro para el formulario */
   .form {
    margin: 0 auto;
     text-align: center;
     width: 400px;
     padding: 40px;
     background: #1A2226;
     box-sizing: border-box;
     box-shadow: 0 15px 25px rgba(0,0,0,.6);
     border-radius: 10px;
   }
   
   /* Decoramos los cuadros de texto */
   .form input {
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    outline: none;
    background: transparent;
   }
   /* Decoramos el titulo del formulario */
   h2{
    color:#0DB8DE;
   }
   
   label{
       color: #289bb8;
   }
   
   /* Botones */
   .form .message {
     margin: 10px 0 0;
     color: #b3b3b3;
     font-size: 12px;
   }
   .form .message2 {
    margin: 5px 0 0;
    color: #b3b3b3;
    font-size: 16px;
  }
   .form .message a {
     color: #289bb8;
     text-decoration: none;
   }
   .form .register-form {
     display: none;
   }
   
   /* Boton de Logearse y Registrarse */
   
   .btn {
     position: relative;
     display: inline-block;
     padding: 10px 20px;
     color: #289bb8;
     font-size: 16px;
     text-decoration: none;
     overflow: hidden;
     transition: .5s;
     margin-top: 15px;
     letter-spacing: 2px;
    border: none;
    background: transparent;
   }
   
   /* Efecto cuando tenemos el cursor en el boton */
   .btn:hover {
     background: #289bb8;
     color: #fff;
     border-radius: 5px;
     box-shadow: 0 0 5px #289bb8,
                 0 0 25px #289bb8,
                 0 0 50px #289bb8,
                 0 0 100px #289bb8;
   }
   
   .checkbox-container {
       display:flex;
       align-items: center;
       margin-bottom: 20px;
     }
     
     .checkbox-container input {
       margin-right: 10px;
     }
     
     h5{
       color: white;
       font-size: 13px;
       margin: 10px;
     }


/* Estilos para la header y navbar */

.contenedorNav{
    margin: 0 auto;
    background-color: #1A2226;
    width: 98%;
    border-radius: 15px;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    margin-top: 10px;
    margin-bottom: 10px;
}

.opcionesTopNav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70px ;
    padding: 5px 10%;
}

.opcionesTopNav .listaNav{
    list-style: none;
    margin-bottom: 0;
}

.opcionesTopNav .listaNav li, .listaNav span{
    
    display: inline-block;
    padding: 0 20px;
    transition: all 0.3s ease 0s;
}

.micuentaNav{
    margin-left: 200px;
}

.deshabilitar-hover {
    pointer-events: none;
}

.opcionesTopNav .listaNav li.carrito-hover:hover {
    transform: none !important;
}

.cart-empty{
    margin-top: 10px;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

.opcionesTopNav .listaNav li:hover {
    transform: scale(1.1);
}
.opcionesTopNav .listaNav a, .listaNav span{
    font-size: 20px;
    font-weight: 700;
    color: #0DB8DE;
    text-decoration: none;
}

.opcionesTopNav .listaNav a{
    font-size: 20px;
    font-weight: 700;
    color: #0DB8DE;
    text-decoration: none;
}

.opcionesTopNav .listaNav li a:hover , .listaNav span{
    color: #fff;
}

.opcionesTopNav .logoNav{
    cursor: pointer;
}

.opcionesTopNav .logoNav img{
    margin-top: 60px;
    height: 180px;
    transition: all 0.3s;
}

.opcionesTopNav .logoNav img:hover{
    transform: scale(1.2);
}

.headerNav{
    height: 50px;
    padding: 5px 10%;
}

.headerNav .listaNav{
    list-style: none;
    margin-bottom: 0;
    text-align: center;
}

.headerNav .listaNav li{
    display: inline-block;
    padding: 0 40px;
    transition: all 0.3s ease 0s;
}

.headerNav .listaNav li:hover{
    transform: scale(1.1);
}

.headerNav .listaNav a{
    font-size: 20px;
    font-weight: 700;
    color: #0DB8DE;
    text-decoration: none;
}

.headerNav .listaNav li a:hover{
    color: #fff;
}

.desactivado{
    cursor: not-allowed;
    pointer-events: none;
}

.divAyuda{
    text-align: center;
    margin: 0 auto;
    width: 98%;
    height: auto;
    background-color: #1A2226;
    border-radius: 15px;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
}

.divAyuda h2{
    color: #0DB8DE;
    text-align: center;
    padding-top: 40px;
}

.divAyuda .question{
    color: #0DB8DE;
    font-size: 18px;
    margin-bottom: 10px;
}

.divAyuda .answer{
    color: #fff;
    font-size: 15px;
    margin-bottom: 20px;
}

.divPreguntas{
    padding: 20px;
    text-align: left;
    margin: 0 auto;
    width: 40%;
}

.bodyFooter{
    border-radius: 15px ; 
    width: 98%;
    margin: 0 auto;
    background-color: #1A2226;
    min-height: 100px;
    padding: 20px 50px;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer .redes , .footer .menuFooter{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.footer .redes li ,  .footer .menuFooter li{
    list-style: none;
}

.footer .redes li a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.footer .redes li a:hover{
    transform: translateY(-10px);
}

.footer .menuFooter li a{
    padding-top: 1em;
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.65;
}

.footer .menuFooter li a:hover{
    opacity: 1;
}

.footer p{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

/* Carrusel de fotos en Acerca De */
.swiper{
    width: 100%;
}

.swiper-wrapper{
    width: 100%;
    height: 35em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 20em;
    height: 90%;
    background-color: #289bb8;
    border-radius: 2em;
    box-shadow: 0 0 2em rgba(0, 0, 0, .2);
    padding: 2em 1em;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.card_img{
    width: 10em;
    height: 10em;
    border-radius: 50%;
    border: 5px solid white;
    padding: 3px;
    margin-bottom: 2em;
}

.card_img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.card_contenido{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card_nombre{
    font-size: 1.5em;
    font-weight: 500;
    color: #fff;
    position: relative;
}

.card_boton{
    background-color: #1A2226;
    color: white;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    padding: .5em;
    border-radius: .5em;
    margin-top: .5em;
    cursor: pointer;
}

.contenedorMision{
    margin: 0 auto;
    width: 98%;
    background-color: #1A2226;
    border-radius: 20px;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
}

.misionEtc{
    margin: 0 auto;
    width: 40%;
    padding: 40px;
    
}

.misionEtc h1 , .conocenos h1{
    padding-top: 20px;
    text-align: center ;
    font-size: 30px;
    color: #0DB8DE;
    padding-bottom: 20px;
}

.misionEtc h2{
    color: #0DB8DE;
    font-size: 20px;
}

.misionEtc p {
    color: #fff;
    font-size: 15px;
}

.contenedorConocenos, .contenedorPrincipal{
    margin: 0 auto;
    width: 98%;
    background-color: #1A2226;
    border-radius: 20px;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
}

.conocenos{
    text-align: center;
    margin: 0 auto;
    width: 40%;
    color: #fff;
    font-size: 18px;
    padding: 30px;

}

.seccionPortada{
    background-image: url(../media/portadaTeniHumo.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 20px 0 0;
}

.seccionPortada h2{
    font-family: 'Londrina Outline', sans-serif;
    font-size: 100px;
    color: white;
    background-color: transparent;
}

.contenedorPrincipal h1{
    text-align: center;
    margin-top: 100px;
    color: #0DB8DE;
}

.contenedorPrincipal p{
    text-align: center;
    margin: 20px;
    font-size: 20px;
    color: #fff;
    margin-bottom: 100px;
}

.btnPortada{
    margin-right: 20px;
    width: 100px;
    height: 30px;
    background-color: #1A2226;
}

.collage{
    width: 98%;
    height: 1000px;
    margin: auto;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr*2;
    grid-template-areas: " mujer hombres"
                        " mujer chavo";
                    
}

.collage .mujer{
    background-image: url(../media/womanSneaker.jpg);
    background-size: cover;
    grid-area: mujer;
    display: flex;
    align-items: end;
    justify-content: center;
}

.collage .hombres{
    background-image: url(../media/mansSneakers.jpg);
    background-size: cover;
    grid-area: hombres;
    display: flex;
    align-items: end;
    justify-content: center;
}

.collage .chavo{
    background-image: url(../media/bothSneakers.jpg);
    background-size: cover;
    grid-area: chavo;
    display: flex;
    align-items: end;
    justify-content: center;

}

.collage button{
    font-size: 40px;
    margin-bottom: 40px;
    width: 500px;
    height: 120px;
    background-color: transparent;
    border: solid 2px #1A2226;
    border-radius: 10px;
}

.collage button:hover{
    transition: 0.5s;
    background: #1A2226;
    color: #fff;
    box-shadow: 0 0 5px #1A2226,
                 0 0 25px #fff,
                 0 0 50px #fff,
                 0 0 100px #1A2226;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

/* Diseño de cartas index */

.cartaPrincipal{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cartaPrincipal li{
    padding: 0 40px 100px 40px;
    display: inline-block;
}

figure img{
    transition: all .5s;
}

figure img:hover {
    transform: scale(1.2);
}

.shop-card {
    width: 350px;
    background: #f5f5f5;
    box-shadow: 0 10px 20px rgba(0,0,0,.3);
    overflow: hidden;
    border-radius: 15px;
    padding: 25px;
    text-align: center;
    z-index: 2;
  
    figure {
    
      margin: 0;
      padding: 0;
      overflow: hidden;
      outline: none!important;
  
      /* & img {
        margin: -95px 0 -60px;
        height: 20px;

      } */
    }
    
    .title {
      font-weight: 900;
      text-transform: uppercase;
      font-size: 30px;
      color: #23211f;
      margin-bottom: 5px;
    }
  
    .desc {
      font-size: 17px;
      opacity: .8;
      margin-bottom: 3px;
    }

    
  
    .cta {
      padding: 20px 20px 5px;
  
      &::after {
        content: '';
        display: table;
        clear: both;
      }
    }
  
    .price {
      float: left;
      color: #1A2226;
      font-size: 22px;
      font-weight: 900;
      padding-top: 2px;
      transition: color .3s ease-in-out;
      margin-top: 4px;
    }
  
  }

  .btnCard {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: green;
    font-size: 16px;
    text-decoration: none;
    overflow: hidden;
    transition: .5s;
    margin-top: 15px;
    letter-spacing: 2px;
    border: solid 2px green;
    border-radius: 20px;
  }
  
  /* Efecto cuando tenemos el cursor en el boton */
  .btnCard:hover {
    border: none;
    background: green;
    color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 5px green,
                0 0 25px green,
                0 0 50px green,
                0 0 100px green;
  }
  
  .contenedorCatalogo{
    margin: 0 auto;
    width: 65%;
    text-align: center;
    background-color: #1A2226;
    border-radius: 20px;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    padding-bottom: 40px;
  }

.itemCatalogo{
    border-top: #0DB8DE solid 2px;
    border-bottom: #0DB8DE solid 2px;
    margin-bottom: 20px;
    color: #fff;
    border-radius: 20px;

    
}

.img-fluid{
    transition: all 0.5s;
}

.itemCatalogo img:hover{

    transform: scale(1.2);
}
.contenedorCarrito{
    position: relative;
}

.contadorProductos{
    position: absolute;
    top: -25px;
    right: -30px;
    background: #289bb8;
    width: 25px;
    height: 25px;

    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}

.contadorProductos span{
    font-size: 14px;
    color: #1A2226;
}

.productosCarrito{
    position: absolute;
    top: 10;
    right: -20px;
    background-color: #289bb8;
    width: 400px;
    z-index: 10;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 20px 0 20px 20px;
}

.itemCarrito{
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #1A2226;
}

.infoCarrito{
    display: flex;
    flex: 0.8;
    justify-content: space-between;
}

.tituloItem {
    font-size: 20px;
    color: #1A2226;
}

.infoCarrito .cantItem, .precioItem {
    font-size: 20px;
    font-weight: 400;
    color: #1A2226;
}

.infoCarrito .precioItem {
    font-size: 20px;
    font-weight: 400;
    color: #1A2226;
}

.totalCarrito{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    gap: 20px;
    align-items: center;
}

.totalCarrito h3{
    font-size: 20px;
    font-weight: 700;
    color: #000;
}

.totalCarrito .totalPago{
    font-size: 20px;
    font-weight: 900;
    color: #000;
}

#iconoCerrar:hover{
    color: red;
    cursor: pointer;

}

.iconoCarrito{
    cursor: pointer;
}

.ocultarCarrito{
    display: none;
}

.filtro select{
    width: 200px !important;
    text-align: center;
    background-color: #0DB8DE;
    border-radius: 10px;
}

#catalogoIDP{
    font-size: 12px;
    position: absolute;
    top: 0;
}

.descuento{
    position: absolute;
    top: 40;
    right: 10;
    background-color: rgb(0, 128, 79);
    height: 50px;
    width: 50px;
    border-radius: 50%;

    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.agotado{
    position: absolute;
    top: 40;
    right: 10;
    background-color: red;
    height: 30px;
    width: 100px;
    color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#agotadoP{
    margin: 0;
    padding: 0;
}


#catalogoDescuentoP{
    margin: 0;
    padding: 0;
    font-size: 20px;
}

#catalogoDescripcionP{
    font-size: 10px;
    text-align: left;
}

.itemCatalogo #catalogoStockP{
    color: #0DB8DE ;
}

.carritoCatalogo{
    color: hsl(191, 89%, 46%);
    position: absolute;
    top: 40;
    left: 30;
    font-size: 30px;
}

/* Responsive del navbar */

@media (max-width: 991px) {
    .contenedorNav {
        margin-top: 20px !important; 
        padding-bottom: 50px !important; 
    }

    .opcionesTopNav {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .opcionesTopNav .logoNav {
        margin-bottom: 20px;
        text-align: center;
    }

    .opcionesTopNav .listaNav {
        text-align: center;
        width: 100%;
    }

    .opcionesTopNav .listaNav li {
        display: block;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
    }

    .iconoCarrito {
        margin-left: 0; 
    }

    .micuentaNav {
        margin-left: 0; 
    }

}

/* Responsive design de la pagina de inicio */

@media (max-width: 991px) {
    .collage {
        grid-template-areas:
            "mujer"
            "hombres"
            "chavo";
        grid-template-columns: 1fr;
    }

    .collage .mujer,
    .collage .hombres,
    .collage .chavo {
        height: 300px;
        margin-bottom: 20px;
    }

    .collage button {
        font-size: 24px;
        width: 300px;
        height: 80px;
    }

    .cartaPrincipal li {
        padding: 0 20px 50px 20px;
    }

    .shop-card {
        width: 300px;
    }

    .shop-card .title {
        font-size: 24px;
    }

    .shop-card .desc {
        font-size: 14px;
    }

    .shop-card .cta {
        padding: 15px 20px 5px;
    }

    .price {
        font-size: 18px;
    }

    .btnCard {
        font-size: 14px;
        padding: 8px 15px;
    }
}

/* Responsive para pagina de Ayuda */

@media (max-width: 991px) {
    .divAyuda {
        text-align: center;
        margin: 0 auto;
        width: 90%;
        height: auto;
        background-color: #1A2226;
        border-radius: 15px;
        box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    }

    .divPreguntas {
        padding: 20px;
        text-align: left;
        margin: 0 auto;
        width: 90%;
    }

    .question {
        font-size: 16px;
    }

    .answer {
        font-size: 14px;
    }

    .question img {
        max-width: 100%;
        height: auto;
    }
}

    /* Responsive para la pagina acerca de nosotros */

    @media (max-width: 991px) {

        .form {
            width: 90%;
            padding: 20px;
        }
    
        .form input {
            width: 100%;
            padding: 10px 0;
            font-size: 14px;
            color: #fff;
            margin-bottom: 20px;
        }
    
        h2 {
            font-size: 18px;
        }
    
        label {
            font-size: 14px;
        }
    
        .btn {
            font-size: 14px;
            padding: 10px 15px;
            margin-top: 10px;
        }
    
        .checkbox-container {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 20px;
        }
    
        h5 {
            font-size: 14px;
        }
            .contenedorMision {
            width: 90%;
        }
    
        .misionEtc {
            width: 80%;
            padding: 20px;
        }
    
        .misionEtc h1,
        .conocenos h1 {
            font-size: 24px;
        }
    
        .misionEtc h2 {
            font-size: 18px;
        }
    
        .misionEtc p {
            font-size: 14px;
        }  

        .contenedorConocenos {
            width: 90%;
            padding: 20px;
        }
    
        .conocenos {
            width: 100%;
            padding: 20px;
        }
    }